body {
    box-sizing: border-box;
    margin: 0;
    background-color: bisque;

}
.encabezado{
    position: fixed;
    background-color: #95b8f6;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}
.navegacion{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
}
.nav-link2{
    color: #f0ba19;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    line-height: 100px;

}
.audio{
    text-align: center;
}
.nav-menu{
    display: flex;
    margin-left: 40px;
    list-style: none;
}

.nav-menu2{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-menu2 li {
    margin: 0;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 100px;
}
.nav-menu-item2{

    margin: 0 10px;

}
.nav-menu-link{
    padding: 6px 8px;
    border-radius: 6px;

}
.nav-menu-link:hover{
    background-color: #024070;
    animation-delay: 0.5s;

}
.titulo{
    margin: 0 30px;
}
.cuerpo{
    margin: 0 30px;
    color: #f0ba19;
    font-size: 25px;
    text-align: center;
}
.cuerpo2{
    color: #f0ba19;
    font-size: 20px;
    text-align: center;


}
.cuerpo3{
    color: black;
    font-size: 20px;
    text-align: center;


}
.titulo3{
    text-align: center;
    color: #95b8f6;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
.imagenT{
    margin: 0 -30px;
}
.imagenComplemento{
    margin: 5px auto;
    display: block;
    max-width: 100%;


}
.figureCentro{
    margin: 3px auto;
    display: block;
    max-width: 100%;
}
.tableCentro{
    margin: auto;
}
.tableCentro td:first-child {
    text-align: center;
}
.mapa{
    margin: 3px auto;
    display: block;
    max-width: 100%;
    width: 70%;
    height: 600px;
}

aside{
    position: fixed;
    overflow-y: scroll;
    background-color: #f0ba19;
    color: white;
    top: 98px;
    left: 0;
    bottom: 20px;
    width: 20%;
}
section{
    position: fixed;
    overflow-y: scroll;
    background-color: #f4f7f7;
    color: blue;
    top: 98px;
    left: 20%;
    bottom: 20px;
    width: 80%;
}
.sectionModificated{
    left: 0;
    position: fixed;
    overflow-y: scroll;
    background-color: #f4f7f7;
    color: blue;
    top: 98px;
    bottom: 20px;
    width: 100%;

}
footer{
    text-align: center;
    position: fixed;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}
tr:nth-child(even){
    background-color: green;
    color: white;
}
